/* TODO Add site wide styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica Neue, helvetica,
    arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
}

html,
body,
#root {
  height: 100%;
  background-color: #121212;
}

.page {
  padding: 58px 16px 96px;
}
