.profile-dropdown {
  position: absolute;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  background-color: #121212;
  height: 62px;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  padding: 16px;
}

.navbar-btns-container {
  display: flex;
  justify-content: space-between;
}

.navbar-btns-container :not(:first-child) {
  margin-left: 16px;
}

.navbar-history-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  background-color: rgba(0,0,0, 0.8);
  cursor: pointer;
}


.fa-chevron-left {
  transform: translateX(calc(1.5px * -1));
}
.fa-chevron-right {
  transform: translateX(1.5px);
}
